@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,900);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  clear: both;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 14px;
  line-height: 22px;
}

.activeCategoryBtn {
  color: #0f8294 !important;
  -webkit-box-shadow: inset 0 0 0 2px #0f8294 !important;
          box-shadow: inset 0 0 0 2px #0f8294 !important;
}

/*.c-menu--slide-left-shadow-active{   
    background: #000;
    opacity: 0.75!important;
}
#c-menu--slide-left-shadow{
    background: #000;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
}

#c-menu--slide-left{
    background: #fff;
    padding: 25px;
    z-index: 2000;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    left: -100vw;
    ul{
        padding: 0;
        margin: 0;
        padding-left: 20px;
        padding-top: 50px;
        list-style-type: none;
        .c-menu__item{
            border: none;
            font-size: 16px;
            a{
                padding: 10px 15px;
                color: #333;
                font-weight: 700;    
                display: block;
            }
        }
    }
   
    .c-menu__close{
        background-color: #fff;
        border: none;
        cursor: pointer;
        outline: none;
        width: 60px;
        float: right;
        i{
            color: #3f3f3f;;
            font-size: 60px;
            line-height: 40px;
            font-weight: 400;
            font-family: 'Montserrat,sans-serif';
        }
    }
    .contact{
        position: absolute;
        bottom: 50px;
        left: 60px;
        a{
            display: block;
            font-weight: 500;
        }
        a::before { 
            content: '';
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            width: 20px;
            height: 20px;
            margin-bottom: -5px;
            margin-right: 5px;

        }
        a,a:visited{
            color: grey;
            text-decoration: none;
            word-break: break-all;
        }
        a:not(:last-of-type){
            margin-bottom: 15px;
        }
        a:nth-of-type(1)::before {
            background-image: url("/images/email-icon.png");
        }
        a:nth-of-type(2)::before {
            background-image: url("/images/phone-icon.png");
        }
    }
}*/
.ngosComponent {
  background-color: #e8e8e8;
  height: calc(100vh - 168px);
}

.ngosComponent .backgroundWhite .categoriesContainer {
  background-color: white;
  max-width: 100%;
  padding: 34px 21px;
  display: none;
}

.ngosComponent .backgroundWhite .categoriesContainer .categories {
  text-align: center;
}

.ngosComponent .backgroundWhite .categoriesContainer .categories i {
  margin-right: 10px;
}

.ngosComponent .backgroundWhite .categoriesContainer .categories span {
  font-size: 18px;
  font-weight: 700;
}

.ngosComponent .backgroundWhite .categoriesContainer .categories .categoriesList ul {
  list-style-type: none;
}

.ngosComponent .backgroundWhite .categoriesContainer .categories .categoriesList ul li {
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  border: none;
  padding: 9px 11px;
  background-color: transparent;
  color: #9c9c9c;
  -webkit-box-shadow: inset 0 0 0 2px #9c9c9c;
          box-shadow: inset 0 0 0 2px #9c9c9c;
}

.ngosComponent .backgroundGray {
  background-color: #e8e8e8;
}

.ngosComponent .backgroundGray .ngosContainer {
  max-width: 100%;
  padding: 34px 21px;
  display: block;
}

.ngosComponent .backgroundGray .ngosContainer .categoriesContainerMobile {
  padding: 10px;
  display: inline-block;
  background: white;
  width: calc(100% - 10px);
  margin: 5px 5px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 0 0 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box {
  padding: 10px;
  display: inline-block;
  background: white;
  width: calc(100% - 10px);
  margin: 5px 5px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 0 0 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 0 0 0 rgba(0, 0, 0, 0.5);
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .iconBox {
  display: block;
  width: 100%;
  height: 30px;
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .iconBox .icon {
  width: 30px;
  height: 30px;
  float: right;
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .iconBox .icon svg:last-of-type {
  position: relative;
  top: -35px;
  left: 7px;
  width: 15px;
  height: 30px;
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .imgBox {
  float: left;
  width: 50%;
  height: 40%;
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .imgBox div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .imgBox img {
  margin: 0 auto;
  padding: 15px 0;
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .titleBox h2 {
  margin: 0;
  height: 52px;
  overflow: hidden;
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .infoBox {
  padding-left: 10px;
  display: inline-block;
  width: 50%;
  height: 154px;
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .infoBox p {
  margin: 0;
  word-break: break-all;
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .infoBox p svg {
  height: 24px;
  width: 24px;
  position: relative;
  top: 6px;
  margin-right: 8px;
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .descriptionBox {
  width: 100%;
  max-height: 74px;
  min-height: 74px;
  overflow: hidden;
  text-align: justify;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.68);
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .buttonsBox {
  display: inline-block;
  margin-top: 28px;
  width: 100%;
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .buttonsBox .action1Btn {
  width: calc(50% - 5px);
  display: inline-block;
  margin-right: 5px;
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .buttonsBox .action1Btn a {
  text-align: center;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 8px;
  padding: 12px 18px;
  font-size: 12px;
  color: #0f8294;
  border: 1px solid #0f8294;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: 100%;
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .buttonsBox .action2Btn {
  margin: 0 0 0 5px;
  width: calc(50% - 5px);
  display: inline-block;
}

.ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .buttonsBox .action2Btn a {
  text-align: center;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 8px;
  padding: 12px 18px;
  font-size: 12px;
  color: white;
  background: #0f8294;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: 100%;
}

@media screen and (max-width: 390px) {
  .ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .infoBox {
    padding-left: 10px;
    display: inline-block;
    width: 51%;
    margin-right: -56px;
  }
  .ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box .infoBox p {
    font-size: 10px;
    margin: 0;
  }
}

@media screen and (min-width: 450px) {
  .ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box {
    height: 368px;
  }
}

@media screen and (min-width: 768px) {
  .ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box {
    width: calc(50% - 10px);
  }
}

@media screen and (min-width: 992px) {
  .ngosComponent .backgroundWhite .categoriesContainer {
    display: block;
  }
  .ngosComponent .backgroundGray .ngosContainer .categoriesContainerMobile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box {
    width: calc(33% - 7px);
  }
}

@media screen and (min-width: 1500px) {
  .ngosComponent .backgroundGray .ngosContainer .infiniteScroll .ngo-box {
    width: calc(25% - 10px);
  }
}
/*# sourceMappingURL=Ngos.css.map */